{% extends 'base.html' %}
{% block title %}Music - Me Tube{% endblock title %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-12">
              <div class="card shadow-sm">
                <div class="card-body">
                  <h4 class="card-title">Your Music</h1>
                  <p class="card-text">
                    Music Here
                  </p>
                </div>
              </div>
            </div>
        </div>

    </main>
    <br>
{% endblock content %}